@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
	font-family: 'Karla', sans-serif;
	/* color-scheme: light dark; */
	color: rgba(255, 255, 255, 0.87);
	background-color: #e6e6e6;
}

body {
	margin: 0;
}

#root {
	width: 50%;
	margin: 0 auto;
	padding-top: 5rem;
}

.wrapper {
	border: 1px solid #d5d4d8;
	box-shadow: 1px 1px 8px #c2c2c2;
}

@media screen and (max-width: 900px) {
	#root {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	#root {
		width: 100%;
		padding-top: 0;
	}
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
