@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
	font-family: 'Karla', sans-serif;
	/* color-scheme: light dark; */
	color: rgba(255, 255, 255, 0.87);
	background-color: #e6e6e6;
}

body {
	margin: 0;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
